<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-consulta-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `form-consulta-component`
     * Formulario de consulta
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormConsultaComponent extends Polymer.Element {
      static get is() { return 'form-consulta-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-consulta-component'
          }
        };
      }
    }

    window.customElements.define(FormConsultaComponent.is, FormConsultaComponent);
  </script>
</dom-module>
