<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-consulta-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .wrapper{
        width: 100%;
        margin: 40px auto;
      }

      .tab-section{
        margin: 40px auto;
        padding: 0 1em;
        width: 100%;
        float: center;
      }

      .tab-area{
        position: relative;
        width: 100%;
        color: #444;
      }

      .input{
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      .label{
        background: lightgray;
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        font-size: 18px;
        line-height: 2;
        padding: 0.6em;
        position: relative;
        transition: all 0.3s ease 0s;
        color: #333;

      }

      .label:hover{
        background: #d9e2ec69;
        color: #333;
      }

      .tab-content{
        color: #fff;
        max-height: 0;
        overflow: hidden;
        padding: 0 0 0 15px;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        font-size: 15px;
        line-height: 30px;
      }

      input:checked ~ .tab-content{
        max-height: 500em;
      }

      .label:before, .label:after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: #fff;
        transition: transform 0.25s ease-out;
      }

      .label:before{
        top: 8px;
        right: 25px;
        width: 3px;
        height: 20px;
        background: #fff;
      }

      .label:after{
        top: 30%;
        right: 15px;
        width: 23px;
        height: 3px;
        background: #fff;
        margin-top: -2;
      }

/*--------------------------------------------------------*/
      .container{
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }
      
      .row{ 
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .txt-box-small{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .option-values{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .txt-box-large{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .col-1{
        float: left;
        width: 50%;
        text-align: left;
      }

      .col-2{
        float: right;
        width: 50%;
        text-align: right;
      }

      .col-3{
        float: left;
        width: 100%;
        text-align: left;
      }

      .col-4{
        float: left;
        width: 50%;
        text-align: left;
      }

      .col-5{
        float: left;
        width: 30%;
        text-align: left;
      }

      .col-5{
        float: left;
        width: 30%;
        text-align: left;
      }
    </style>

    <!--Start My Component-->
    <div class="wrapper">
      <div class="tab-section">

        <div class="tab-area">
          <input type="checkbox" id="tab1" name="tabs" class="input">
          <label for="tab1" class="label"><img src="../bower_components/polymer/img/resume2.png" alt="resume-ico"> Datos del Empleado</label>
          <div class="tab-content">

            <!--Start My Form-->
            <div class="container">

              <div class="row">
                <div class="col-1">
                  <label for="lbl-n-empleado">Numero de Empleado :</label>
                  <input type="text" class="txt-n-empleado txt-box-small" placeholder="Numero de Empleado" value="E1001">
                </div>

                <div class="col-2">
                  <label for="lbl-a-servicio">Año de Servicio: </label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="Año de Servicio" disabled="true" value="22/06/1996">
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label for="lbl-nombre">Nombre :</label>
                  <input type="text" class="txt-nombre txt-box-large" placeholder="Nombre" value="Luis Miguel">
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label for="lbl-a-paterno">Apellido Paterno :</label>
                  <input type="text" class="txt-a-paterno txt-box-large" placeholder="Apellido Paterno" value="Garcia">
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label for="lbl-a-materno">Apellido Materno :</label>
                  <input type="text" class="txt-a-materno txt-box-large" placeholder="Apellido Materno" value="Zacarias">
                </div>
              </div>

              <div class="row">
                <div class="col-1">
                  <label for="lbl-n-empleado">Sexo :</label>
                  <select class="option-values">
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                  </select>
                </div>
  
                <div class="col-4">
                  <label for="lbl-a-servicio">Fecha de Nacimiento: </label>
                  <input type="date" class="txt-a-servicio txt-box-small" placeholder="Fecha de Nacimiento">
                </div>
              </div>

              <div class="row">
                <div class="col-5">
                  <label for="lbl-n-empleado">RFC :</label>
                  <input type="text" class="txt-a-servicio txt-box-large" placeholder="RFC">
                </div>

                <div class="col-5">
                  <label for="lbl-a-servicio">Extranjero: </label>
                  <input type="checkbox" class="txt-a-servicio txt-box-large">
                </div>
                
                <div class="col-5">
                  <label for="lbl-a-servicio">Vigencia Forma Migratoria: </label>
                  <input type="text" class="txt-a-servicio txt-box-large" placeholder="Vigencia Forma Migratoria">
                </div>
              </div>

              <div class="row">
                <div class="row">
                    <div class="col-3">
                      <label for="lbl-a-materno">Dirección :</label>
                      <input type="text" class="txt-a-materno txt-box-large" placeholder="Apellido Materno" value="Ciudad de Mexico, Del. Miguel Hidalgo, DF">
                    </div>
                  </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-4">
                  <label for="lbl-n-empleado">Tel. Casa :</label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 90%;">
                </div>
  
                <div class="col-4">
                  <label for="lbl-a-servicio">Contacto de Emergencia: </label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label for="lbl-n-empleado">Tel. Celular :</label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 90%">
                </div>
              </div>

            </div>
            <!--End My Form-->

          </div>
        </div>

        <div class="tab-area">
            <input type="checkbox" id="tab2" name="tabs" class="input">
            <label for="tab2" class="label"><img src="../bower_components/polymer/img/bank2.png" alt="resume-ico"> Información Bancaria</label>
            <div class="tab-content">

              <!--Start My Form-->
              <div class="container">
                <div class="row">
                  <div class="col-3">
                    <label for="lbl-n-empleado">Banco :</label>
                    <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 90%">
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <label for="lbl-n-empleado">Cuenta:</label>
                    <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 80%;">
                  </div>
      
                  <div class="col-4">
                    <label for="lbl-a-servicio">Clave: </label>
                    <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                  </div>
                </div>
              </div>
              <!--End My Form-->

            </div>
        </div>


        <div class="tab-area">
            <input type="checkbox" id="tab3" name="tabs" class="input">
            <label for="tab3" class="label"><img src="../bower_components/polymer/img/contract2.png" alt="resume-ico"> Contrato</label>
            <div class="tab-content">

              <!--Start My Form-->
              <div class="container">
                  <div class="row">
                    <div class="col-4">
                      <label for="lbl-n-empleado">Numero de Contrato : </label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 80%;">
                    </div>
          
                    <div class="col-4">
                      <label for="lbl-a-servicio"> Puesto de Empleado : </label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <label for="lbl-n-empleado">Fecha de Contratación:</label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 80%;">
                    </div>
            
                    <div class="col-4">
                      <label for="lbl-a-servicio">Periodicidad de Renovacion: </label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <label for="lbl-n-empleado">Fecha Inicio de Ultimo Contrato:</label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="RFC" style="width: 80%;">
                    </div>
            
                    <div class="col-4">
                      <label for="lbl-a-servicio">Fecha de Vencimiento: </label>
                      <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                    </div>
                  </div>
              </div>
              <!--End My Form-->

            </div>
        </div>

        <div class="tab-area">
            <input type="checkbox" id="tab4" name="tabs" class="input">
            <label for="tab4" class="label"><img src="../bower_components/polymer/img/handshake2.png" alt="resume-ico"> Esquema</label>
            <div class="tab-content">
              <!--Start My Form-->
              <!--End My Form-->
            </div>
        </div>
        
      </div>
    </div>
    <!--End My Component-->

  </template>

  <script>
    /**
     * `form-consulta-component`
     * Formulario de consulta
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormConsultaComponent extends Polymer.Element {
      static get is() { return 'form-consulta-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-consulta-component'
          }
        };
      }
    }

    window.customElements.define(FormConsultaComponent.is, FormConsultaComponent);
  </script>
</dom-module>
