<link rel="import" href="../polymer/polymer-element.html">

<!--CDN fontawsome icons-->
<script src="https://kit.fontawesome.com/d332e5f7d7.js"></script>

<dom-module id="menu-vertical-component">
  <template>
    <style>
      :host {
        display: block;
      }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: sans-serif;
      }

      .wrapper{
        background: #fff;
        top: 0;
        right: 0;
        margin-left: 200px;;
        display: flex;
        position: fixed;
        height: 100%;
        padding-left:10px; 
      }

      .wrapper .sidebar{
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        width: 250px;
        height: 100%;
        background: lightgray;
        padding: 30px 0;
      }

      .wrapper .sidebar h2{
        color: #444;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
      }

      .wrapper .sidebar h2{
        border-top: 1px solid #0091a05e;
      }

      .wrapper .sidebar ul li{
        margin: 10px;
        padding: 15px;
      }

      .wrapper .sidebar ul li a{
        color: #444;
        display: block;
      }

      .wrapper .sidebar ul li:hover{
        background: #f4f4f466;
        margin:0;
        color: black;
        cursor: pointer;
      }

      .ib-ico{
        margin-left: 20px;
        margin-bottom: 10px; 
        width: 180px;
        float: center;
      }

      .wrapper .sidebar .social-media{
        position: absolute;
        bottom: 0;
        left: 45%;
        transform: translateX(-50%);
        display: flex;
        margin-bottom: 5px;
      }

      .wrapper .sidebar .social-media a{
        margin-left: 10px;
        display: block;
        width: 40px;
        background: #4444442b;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color:#fff;
        border-radius: 5px;
      }

      .wrapper .sidebar .social-media a:hover{
        background: #0091a059;
      } 

      .wrapper .main_content .header{
        padding: 20px;
        background: lightgray;
        color: #444;
        border-radius: 5px;
      }

      .wrapper .main_content .info{
        margin: 20px;
        color: #717171;
        line-height: 25px;
      }

    </style>
    <!--Start My Component-->
    <div class="wrapper">
      <div class="sidebar">
        <img src="../bower_components/polymer/img/logo-slider1.png" alt="ib-ico" class="ib-ico">

        <h2></h2>
        
        <ul>
          <li><a href="#"><img src="../bower_components/polymer/img/home.png" alt="home-icon"> [[op1]]</a></li>
          <li><a href="#"><img src="../bower_components/polymer/img/shopping-list.png" alt="shopping-icon"> [[op2]]</a></li>
          <li><a href="#"><img src="../bower_components/polymer/img/transparency.png" alt="transparency-icon"> [[op3]]</a></li>
          <li><a href="#"><img src="../bower_components/polymer/img/logout.png" alt="logout-icon"> [[op4]]</a></li>
        </ul>

        <div class="social-media">
          <a href="#"><img src="../bower_components/polymer/img/linkedin.png" alt="linkedin-icon"> </a>
          <a href="#"><img src="../bower_components/polymer/img/twitter.png" alt="twitter-icon"> </a>
          <a href="#"><img src="../bower_components/polymer/img/facebook.png" alt="facebook-icon"> </a>
        </div>
      </div>
      <!--
      <div class="main_content">
        <div class="header">
          [[header]]
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, totam repellendus veritatis saepe iure, maiores optio at dicta accusantium corporis et asperiores recusandae qui animi facilis repellat sunt deserunt voluptatibus!
        </div>
      </div>-->
    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `menu-vertical-component`
     * menu vertical comoponent
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MenuVerticalComponent extends Polymer.Element {
      static get is() { return 'menu-vertical-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'menu-vertical-component'
          },

          header: {
            type: String,
            value: 'Welcome. Dashboard User'
          },

          op1: {
            type: String,
            value: 'Home'
          },

          op2: {
            type: String,
            value: 'Check List'
          },

          op3: {
            type: String,
            value: 'Search'
          },

          op4: {
            type: String,
            value: 'Exit'
          },
        };
      }
    }

    window.customElements.define(MenuVerticalComponent.is, MenuVerticalComponent);
  </script>
</dom-module>
